@font-face {
  font-family: 'TW-Heavy';
  src: url('../assets/fonts/TW-Heavy.otf') format("truetype");
}

#root {
  font-family: 'TW-Heavy';
  color: #12345678;
  font-size: 24px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    margin: 0 8px;
  }
}

.luffy {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 0;
  bottom: 0;
  background: url("../assets/images/luffy.jpeg?sprite") no-repeat 100%/cover;
}

.zero {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 0;
  bottom: 0;
  background: url("../assets/images/zero.jpeg?sprite") no-repeat 100%/cover;
}

.clear-fix {
  clear: both;
}