@font-face {
  font-family: 'TW-Heavy';
  src: url('../assets/fonts/TW-Heavy.otf') format('truetype');
}

#root {
  font-family: 'TW-Heavy';
  font-weight: bolder;
  font-style: italic;
  font-size: 20px;
  color: #12345678;
  user-select: none;
  text-align: center;
}