<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>webpack project</title>
    <% if (mobile) { %>
        <meta name="viewport"
              content="width=device-width;initial-scale=1.0;maximum-scale=1.0;minimum-scale=1.0;user-scalable=yes"
        >
    <% } %>
    <% if (mobile && mobile.includes('rem')) { %>
        <script type="text/javascript" defer="defer"><%= require('!raw-loader?esModule=false!babel-loader!lib-flexible/flexible') %></script>
    <% } %>
</head>
<body>
<div id="root">

</div>
<% if (hackPath) { %>
    <script type="text/javascript" defer="defer" src=<%= `${hackPath}vendors/main.js` %>></script>
    <script type="text/javascript" defer="defer">window.hackPath = '<%= hackPath %>'</script>
<% } %>
</body>
</html>