<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>library</title>
    <% if (mobile && mobile === 'rem') { %>
        <script><%= require('!raw-loader?esModule=false!babel-loader!lib-flexible/flexible.js') %></script>
    <% } %>
</head>
<body>
<div id="root">
</div>
<% if (vendors) { %>
    <script type="text/javascript" src="<%= vendors %>"></script>
<% } %>
</body>
</html>