<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>library</title>
    <% if(mobile) { %>
        <script type="text/javascript"><%= require(mobile) %></script>
    <% } %>
</head>
<body>

</body>
</html>